*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    min-height: 100vh;
}

.loader{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:10%;
    display: none;
}
.logo{
    width: 300px;
}
.title{
    display: flex;
    justify-content: center;  
}
.title li{
    list-style: none;
    margin: 30px 50px;
}
.title li a{
    text-decoration: none;
    font-size: 20px; 
}
.signin a,hr{
    color: red;
}
input[type='text'],
input[type='password'],
textarea{
    display: flex;
    flex-direction: column;
    margin: 25px auto;  
    width: 450px;
    height: 45px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 20px; 
    font-size: 18px;
}
.forget{
    display: flex;
    justify-content: right;
}
.forget span{
    color: red;
    cursor: pointer;
}
.submit-btn{
    display: block;
    margin: 10px auto;
    outline: none;
    border: none;
    color:#636363;
    background:#E0E0E0 ;
    width: 250px;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}
.submit-btn.facebook{
    background: #2489F4;
    position: relative;
    color: white;
}
.submit-btn.facebook i{
    color: rgb(231, 231, 231);
    width: 10%;
    position: absolute;
    left:5%;
    top:50%;
    transform: translateY(-50%);
}

label{
    color:#555555;
    font-size: 20px;
}
/* alert */
.alter-box{
    width: 300px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0,0,0,0.05);
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:20px;
    transition: 1s ;
    pointer-events: none;
    opacity: 0;
}
.alter-box.show{
    opacity: 1;
    pointer-events:all;
    top:50%;

}
.alter-img{
    display: block;
    margin: 10px auto 20px;
    height: 60px;
}
.alter-msg{
    color:red;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

/*  Don't have account */
.dont-have-account{
    text-align: right;
}
.dont-have-account a{
    text-decoration: none;
    color:red;
    font-size: 18px;
}

