* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}
.container1 {
    background-color: #a99ae8;
    width: 100%;
}

/* ----------css header ---------------*/
header {
    max-width: 100%;
    background-color: white;
}

.img_header {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar_header {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    z-index: 999;
}
.logo_header {
    width: 220px;
    height: 40px;
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
    margin: 0 10px;
}
/* icon menu */
.menu_header {
    width: 60px;
    height: 100%;
}
.icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
}
.icon_menu{
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.icon_seemore {
    width: 16px;
    height: 16px;
    align-items: center;
    object-fit: cover;
}
.nav_overlay {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.theloai {
    background-color:white;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    min-height: 61px ;
    display: none;
    position: absolute;
    top: 61px;
    left: 40px;
    right: 40px;
    border-radius: 8px;
    z-index: 2;
}
.theloai h2 {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
}

.theloai ul li {
    display: inline-block;
    margin: 0px 0px 20px 50px;
    min-width: 20%;
    list-style: none;
}
.theloai ul li a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.theloai ul li:hover{
    color:#C92127;
}

/* hien thi danh sach khi chon */
.menu_header:hover .theloai, .menu_header:hover .nav_overlay{
    display: block;
}

/* thanh tim kiem */
.search{
    position: relative;
    margin: 0 10px 0 5px;
}
.input_search {
    height: 40px;
    width: 520px;
    min-width: 300px;
    padding: 0 80px 0 10px;
    border: 1px solid #CDCFD0;
    border-radius: 8px; 
}
.icon_search{
    position: absolute;
    width: 72px;
    height: 30px;
    background-color: #C92127;
    border: 2px solid #C92127;
    border-radius: 8px;
    /* padding: 3px 0px; */
    padding-left: 25px;
    right: 4px;
    top: 5px;
    cursor: pointer;
}
.icon_search img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.tienich {
    display: flex;
    align-content: space-evenly;
    text-align: center;
    gap: 20px;
    font-size: 12px;
    margin-top: 20px;
}
figure {
    /* margin-right: 20px; */
    cursor: pointer;
}

/* content */
.content {
    background-color: white;
    margin: 20px;
}
.content .tieude {
    padding: 10px 50px;
    background-color: #FCDAB0;
}
.list_box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    height: 334px;
    width: 234px;
    cursor: pointer;
    justify-content: center;
}
.box:hover {
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.5);
}

.box img {
    /* width: 190px; */
    height: 190px;
    margin-top: 10px;
}
.product_name {
    font-size: 14px;
    width: 234px;
    margin: 10px;
    padding-left: 8px;
    text-align: center;
}

.product_price {
    color: orange;
    font-size: 18px;
    margin-bottom: 10px;
}

.box button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background-color: #ffdd00;
        color: #000;
      }
}

/* css thanh chuyển trang */
.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 50px;
    padding-bottom: 20px;
}

.page-number {
    padding: 5px 15px;
    border: 2px solid #333;
    cursor: pointer;
}

.pagination>button,
#page-buttons>button {
    font-size: medium;
    margin: 5px;
    padding: 5px 10px;
    width: auto;
    color: aliceblue;
    background-color: rgb(232, 78, 78);
    border: 0;
    border-radius: 0.5rem;

}
.pagination>button:hover,
#page-buttons>button:hover{
    background-color: beige;
    color: rgb(232, 78, 78);
    border: 1px solid rgb(232, 78, 78);;
}
/* sticker */
.emoticon {
    width: 100%;
    animation: wave 1s linear infinite;
    border-radius: 50%;
}
.widget {
    width: 150px;
    height: 150px;
    position:fixed;
    bottom: 0%;
    right: 0%;
}
.chu-sticker {
  background-color: rgb(233, 187, 187);
  position: absolute;
  padding: 5px;
  right: 100%;
  top: 20px;
  width: 170px;
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  transition: opacity linear 0.3s;
  animation: display 3s linear infinite;
}
.border-sticker {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgb(236, 111, 111);
    top: calc((100% - 90px) / 2);
    left: calc((100% - 90px) / 2);
    overflow: hidden;
}
.border-sticker.dong {
   animation: widgetPulse infinite 1s;
   border: 2px solid red;
}

@keyframes wave {
    40% {
      transform: rotate(-30deg);
    }
    80% {
      transform: rotate(30deg);
    }
  }

@keyframes widgetPulse {
  to {
      width: 150px;
      height: 150px;
      top: calc((100% - 154px) / 2);
      left: calc((100% - 154px) / 2);
      opacity: 0;
  }
}
@keyframes display {
    to {
      opacity: 1;
    }
}

/* -------------footer--------------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_footer{
    margin: 10px 0px;
    height: 50px;
}
footer p {
    font-size: 14px;
    text-align: center;
}
footer a {
    text-decoration: none;
}
.icon_app_footer {
    margin: 10px 0px;
}

/* header tren mobie */
.mobie {
    background-color: #C92127;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    height: 120px;
    position: relative;
}
.logo_header_mobie {
    max-width: 100%;
    height: 50px;
}
.nav_mobie {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0px;
    padding: 0 5px;
    align-items: center;
}
.icon_menu_mobie{
    width: 36px;
    height: 36px;
}
.icon_mycart_mobie {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    Cursor: pointer;
}

.icon_account_mobie {
    width: 34px;
    height: 29px;
    margin-left: 10px;
    Cursor: pointer;
}
.input_search_mobie {
    min-width: 200px;
    width: 860px;
    padding: 0 5px;
    margin-left: 10px;height: 40px;
    padding: 0 80px 0 24px;
    border: 1px solid #CDCFD0;
    border-radius: 6px;
}


.overlay_mobie {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
}
.theloai_mobie {
    position: fixed;
    top: 0;
    left: 0; 
    bottom: 0;
    background-color:white;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    width: 350px;
    max-width: 100%;
    padding-bottom: 5px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.3s;
    z-index: 2;
}
.back {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 2;
}
.theloai_mobie h2 {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    font-size: 24px;
    padding: 10px 0px;
    text-align: center;
    background-color: red;
    color: white;
    z-index: 1;
}
.theloai_mobie ul{
    position: absolute;
    top: 50px;
}
.theloai_mobie ul li {
    margin: 10px 20px;
    /* margin-left: 50px; */
    list-style: none;
    cursor: pointer;
}
.theloai_mobie ul li a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.theloai_mobie ul li a:hover {
    background-color: #CDCFD0;
}


#click:checked ~ .overlay_mobie {
    display: block;
}
#click:checked ~ .theloai_mobie {
    transform: translateX(0%);
    opacity: 1;
}
@keyframes fadeIn {
    from { 
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width:69em) {
    header {
        display: none;
    }
    .mobie {
        display: flex;
    }
}

/* reponsive cho slideshow */
@media (max-width: 999px){
    .sildeshow-left{
        display: none;
    }
}

/* css for form - login - logout - signup */


.from-login-logout{
    position: absolute;
    top:20%;
    right: 6%;
    width: 270px;
    background-color: rgb(255, 255, 255);
    border-radius:9px ;
    padding: 15px 30px;
    box-shadow: 1px 2px 2px 2px rgba(54, 41, 41, 0.477);
    z-index: 20;
}
.from-login-logout button {
    margin: 5px 0;
    padding: 3px 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    font-size: 15px;
}
.from-login-logout button:nth-child(1){
    color: white;
    background-color: #C92127;
}
.from-login-logout button:nth-child(3){
    color: #C92127;
    background-color: #f9f3f3;
    border: 3px solid #C92127;
}
.from-login-logout button:nth-child(5){
    color: white;
    background-color:#2489F4;
}
.hide {
    display: none;
}

/*  phan chi tiet san pham*/
.product-preview{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    overflow: auto;
    z-index: 1000;
} 
.preview{
    margin: auto;
    width: 80%;
    min-width: 400px;
    position: relative;
    height: auto;    
    background:white;
}


.preview-header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #333;
    color: white;
}  
 .preview-header .fa-times {
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 25px;
  }  
.preview-body{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position:relative;
    padding: 16px;
    background-color: #fff;
}  
.preview-images{
    flex: 2;
    width: 40%;
    
   
}  
.preview-images img{
    width: 100%;
    min-width: 50px;
} 
.preview-info{
    width: 100%;
    flex: 3;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}  
.mucdata {
    width: 100%;
    font-size: 17px;
    margin-left: 10px;
    line-height: 2;    
    display: flex;
    flex-direction: column;
    
}
.info-title {
   
    color: #da2525; /* White text */
    font-weight: bold;
    display: inline;
}

          
.preview-footer{
    font-size :17px;
    display: flex;
    margin-left:20px;
    margin-right:20px;
    justify-content: center;
    align-items: center;
}